[user]
    name = Avanindra Pandeya
    email = __WORK_EMAIL__
    # Sign work commits with the work SSH key so GitHub attributes
    # them to the work account.
    signingkey = ~/.ssh/id_hf_thinkpad
